@import './var.scss';

body{
    background-color: $bg-color;
    color: $letter-color;
}

*{
    box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #0F1434;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: $primary-color;
}
